---
import { customAlphabet } from 'nanoid';

const firstChar = customAlphabet(
  'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz',
  1,
);
const restChars = customAlphabet(
  'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789',
  5,
);

const id         = firstChar() + restChars();
const anchorName = `--${id}`;  
---

<button popovertarget={id} 
    style={`anchor-name: ${anchorName}; cursor: pointer;`}
    class="not-prose">
    <slot name="trigger"/>
</button>


<div class=" prose popover-panel subtle-shadow" 
    id={id} popover="auto" 
    style={`position-anchor: ${anchorName}`}>
    <slot />
</div>

